<template lang="pug">
    <carousel :perPage="1" :autoplay="true" style="margin-top:10rem;">
        <slide>
            <div>
                <h3 style="font-size: 20px; font-weight: 700; font-family: 'Poppins', 'sans-serif'; text-transform: uppercase;letter-spacing: .05rem;">welcome to</h3>
                <div style="font-size: 62px;font-weight: 700;font-family: 'Poppins', sans-serif;text-shadow: 0 0px 30px rgba(0,0,0,.1);margin-top: 120px;">the conversation</div>
                <div style="font-size: 30px;line-height: 54PX;font-weight: 400;font-family: 'Poppins', sans-serif;text-shadow: 0 0px 30px rgba(0,0,0,.1);margin-bottom: 40px;">.social</div>
                <div class="desc" style="text-transform: lowercase; letter-spacing: .2px; font-size: 21px">bringing organization to the online conversation</div>
                <div class="foraudience" style="margin-top: 40px;text-transform: lowercase; font-size: 12px;">FOR MEDIA - PR - BUSINESS PROFESSIONALS - NEWS CONSUMERS</div>
            </div>
        </slide>
        <slide>
            <div>
                <img style="margin:10px 0;" width="300px" src="https://cdn3.iconfinder.com/data/icons/pictograms-vol-2-3/400/newspaper-512.png">
                <h1>Search by Article URL <br>to get topical social conversation</h1>
                <div class="desc" style="text-transform:none;letter-spacing:0rem;">A.I. Curation will curate and organize the relevant social conversation</div>
            </div>
        </slide>
        <slide>
            <div>
                <img width="300px" src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png"><br><br>
                <h1>Rich Biograpical Information <br>Helps You Understand Top Speakers</h1>
                <div class="desc" style="text-transform:none;letter-spacing:0rem;">Rich social intelligence reports help make sense of hundreds of thousands of speaker backgrounds.</div>
            </div>
        </slide>
        <slide>
            <div>
                <div id="curate_button_id" href="#" class="col-xs-12">
                    <div class="first">the</div>
                    <div class="second">conversation</div>
                    <div class="third">.social</div>
                </div>
                //- <hr>
                <form class="form-horizontal" role="form" action="#">
                    <div class="form-group">
                        <div class="col-xs-12">
                        <input name="username" type="text" class="form-control" id="username" placeholder="Username" v-model="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                        <input name="password" type="password" class="form-control" id="password" placeholder="Password" v-model="password">
                        </div>
                    </div>
                    <div v-if="!loading" class="row">
                        <div class="col-xs-12" style="text-align:center;">
                            //- <button type="button" class="btn btn-default" @click="login">Login</button>
                            <el-button @click="login" class="login_button btn btn-default" type="primary" round>Login</el-button>
                        </div>
                        <div class="col-xs-12" style="text-align:center; padding-top:10px; padding-bottom:10px;">
                            <a href="" @click="twitterLogin" class="fa fa-twitter"></a>
                        </div>
                        <div class="col-xs-12" style="text-align:center;">
                            <div class="small"><a target="_blank" :href="serverAdmin"><b>I don't have an account</b></a></div>
                            <div class="small"><a target="_blank" :href="serverAdmin"><b>Lost password</b></a></div>
                        </div>
                    </div>
                    <div v-if="loading" class="row">
                        <el-button style="width:100%" :loading="loading" class="login_button btn btn-default" type="primary" round>In progress</el-button>
                    </div>
                </form>
            </div>
        </slide>
    </carousel>
</template>
<script>
import { Carousel, Slide } from 'vue-carousel'
import JQuery from 'jquery'
const background = chrome.extension.getBackgroundPage()
let $ = JQuery
//   const background = chrome.extension.getBackgroundPage()
export default {
  components: {
    Carousel,
    Slide
  },
  data: () => ({
    fullLoading: false,
    loading: false,
    username: '',
    password: '',
    showOnTwitter: false,
    showForAll: false,
    displayName: function () {
      return 'TEST'
    },
    server: '',
    serverAdmin: ''
  }),
  computed: { },
  created () { },
  mounted () {},
  methods: {
    goToDashboard () {
      window.location.hash = '#/dashboard'
    },
    twitterLogin () {
      chrome.tabs.create({ url: 'http://theconversation.social/login/twitter/?next=/twitter/after_authentication' })
    },
    login () {
      console.log('check login status')
      this.loading = true
      fetch(`http://${background['SERVER']}/`, {
        credentials: 'include'
      })
        .then(r => r.text())
        .then(resp => {
          var csrfHidden = $(resp).find(`input[name='csrfmiddlewaretoken']`)[0]
          if (csrfHidden) {
            console.log('do login')
            const formData = new FormData()
            formData.append('csrfmiddlewaretoken', csrfHidden.value)
            formData.append('username', this.username)
            formData.append('password', this.password)
            fetch(`http://${background['SERVER']}/login/`, {
              credentials: 'include',
              method: 'POST',
              body: formData
            }).then(resp => resp.text()).then(resp => {
              const loggedInUser = $(resp).find(`.user-profile p`).text().trim()
              this.loading = false
              if (loggedInUser && loggedInUser !== 'Personalize') {
                background.loggedInUser = loggedInUser
                console.log('login successful')
                chrome.tabs.getSelected(null, function (tab) {
                  chrome.tabs.remove(tab.id, function () {})
                })
                // this.goToDashboard()
              } else {
                alert('login failed')
                window.location.reload()
              }
            })
          } else {
            this.loading = false
            console.log('already logged in')
            background.loggedInUser = $(resp).find(`.user-profile p`).text().trim()
            this.goToDashboard()
          }
        })
    }
  }
}
</script>
<style lang="css">
    body{
        width: 100%;
    }
    .VueCarousel{
        text-align: center;
        width: 800px;
        margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }
    #curate_button_id {
        margin-left: 30rem !important;
        margin-bottom: 5rem;
        text-decoration: none !important;
        color: #fff !important;
        text-align: center !important;
        position: inherit !important;
        z-index: 9999999999999 !important;
        bottom: 30px !important;
        font-size: 17px !important;
        width: 180px !important;
        font-family: Poppins !important;
        height: 180px !important;
        border: solid 1px #555 !important;
        background-color: black !important;
        animation-duration: 0.5s !important;
        box-shadow: 10px -10px rgba(0,0,0,0.6) !important;
        -moz-box-shadow: 10px -10px rgba(0,0,0,0.6) !important;
        -webkit-box-shadow: 5px 5px 10px #D3D3D3 !important;
        -o-box-shadow: 10px -10px rgba(0,0,0,0.6) !important;
        border-radius: 100px !important;
        margin-top: 14px;
    }
    #curate_button_id > .first {
        margin-top: 42px !important;
        font-size: 24px !important;
        height: 28px !important;
        line-height: 30px !important;
        font-weight: 700;
    }
    #curate_button_id > .second {
        margin-top: 0px !important;
        font-size: 24px !important;
        height: 28px !important;
        line-height: 30px !important;
        font-weight: 700;
    }
    #curate_button_id > .third {
        word-wrap: break-word !important;
        margin-top: 0px !important;
        font-size: 19px !important;
        height: 14px !important;
        line-height: 14px !important;
        padding-top:8px;
    }
    .el-button {
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        background: black;
        border: 1px solid #DCDFE6;
        color: white;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        outline: 0;
        margin: 0;
        -webkit-transition: .1s;
        transition: .1s;
        font-weight: 500;
        -moz-user-select: none;
        padding: 12px 20px!important;
        font-size: 14px;
        border-radius: 4px!important;
        border-color: unset!important;
    }
    .el-button--primary:focus, .el-button--primary:hover {
        color: #222222!important;
        background: #D5E0D6!important;
    }
    .fa {
    padding-top:8px;
    padding-left: 3px;
    font-size: 20px;
    width: 35px;
    height:35px;
    text-align: center;
    text-decoration: none;
    border-radius:50%;
    }

    /* Add a hover effect if you want */
    .fa:hover {
    opacity: 0.7;
    text-decoration: none;
    }

    /* Twitter */
    .fa-twitter {
    background: #55ACEE;
    color: white;
    }

    .loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
    }
</style>