<template lang="pug">
  <div v-if="fullLoading">
    <svg class="lds-coolors" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="shape-rendering: auto; animation-play-state: running; animation-delay: 0s; background: none;"><defs style="animation-play-state: running; animation-delay: 0s;"> <mask id="coolors-25658c1971f01" style="animation-play-state: running; animation-delay: 0s;"> <circle cx="50" cy="50" r="20" stroke="#fff" stroke-linecap="round" stroke-dasharray="94.24777960769379 31.41592653589793" stroke-width="9" style="animation-play-state: running; animation-delay: 0s;" transform="rotate(33.8955 50 50)"> <animateTransform attributeName="transform" type="rotate" values="0 50 50;360 50 50" times="0;1" dur="0.7s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animateTransform> </circle> </mask> </defs> <g mask="url(#coolors-25658c1971f01)" style="animation-play-state: running; animation-delay: 0s;"><rect x="20.5" y="0" width="20.333333333333332" height="100" style="animation-play-state: running; animation-delay: 0s;"> <animate attributeName="fill" values="#a4d0ef;#211f1f;#d63116" times="0;0.5;1" dur="0.7s" repeatCount="indefinite" begin="-0.6666666666666666s" style="animation-play-state: running; animation-delay: 0s;"></animate> </rect><rect x="39.83333333333333" y="0" width="20.333333333333332" height="100" style="animation-play-state: running; animation-delay: 0s;"> <animate attributeName="fill" values="#a4d0ef;#211f1f;#d63116" times="0;0.5;1" dur="0.7s" repeatCount="indefinite" begin="-0.3333333333333333s" style="animation-play-state: running; animation-delay: 0s;"></animate> </rect><rect x="59.166666666666664" y="0" width="20.333333333333332" height="100" style="animation-play-state: running; animation-delay: 0s;"> <animate attributeName="fill" values="#a4d0ef;#211f1f;#d63116" times="0;0.5;1" dur="0.7s" repeatCount="indefinite" begin="0s" style="animation-play-state: running; animation-delay: 0s;"></animate> </rect></g></svg>
  </div>
  
  <div v-else>
    <div id="curate_button_id" href="#" >
      <div class="first">the</div>
      <div class="second">conversation</div>
      <div class="third">.social</div>
    </div>
    <h3>Hello, {{displayName()}}.</h3>
    <hr>
      <div class="row">
          <div class="col-xs-12">
            <div><b>Display Social Briefs on:</b></div>
            <div class="row">
              <div class="col-xs-5">
                <input :disabled="fullLoading ? '' : disabled " type="checkbox" id="showontwitter" class="css-checkbox" v-model="showOnTwitter" @click="saveOptions" />
                <div class="css-checkbox-group">
                  <label for="showontwitter" class="css-label lite-x-gray small">Twitter.com</label>
                </div>
              </div>
              <div class="col-xs-7">
                <input :disabled="fullLoading ? '' : disabled " type="checkbox" id="showforall" class="css-checkbox" v-model="showForAll" @click="saveOptions" />
                <div class="css-checkbox-group">
                  <label for="showforall" class="css-label lite-x-gray small">Around the web</label>
                </div>
              </div>
            </div>
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="btn btn-default" @click="logout">Logout</button>
        </div>
        <div class="col-xs-8">
          <div class="small">Questions?</div>
          <div class="small"><a href="mailto:contact@writepublic.com">contact@writepublic.com</a></div>
        </div>
      </div>
      <br>
  </div>
</template>
<script>
  const background = chrome.extension.getBackgroundPage()
  export default {
    data: () => ({
      fullLoading: false,
      username: '',
      password: '',
      showOnTwitter: false,
      showForAll: false,
      displayName: function () {
        return background.loggedInUser || ''
      }
    }),
    computed: { },
    created () { },
    mounted () {
      debugger
      // Load data from storage.
      chrome.runtime.onMessage.addListener(request => {
        if (request.method === 'updateLoginStatus') {
          window.location.hash = '#/'
        }
      })
      let self = this
      chrome.storage.local.get(['showontwitter', 'showforall'], storageObject => {
        self.showOnTwitter = storageObject.showontwitter || false
        self.showForAll = storageObject.showforall || false
      })
    },
    methods: {
      logout () {
        this.fullLoading = true
        fetch(`http://${background['SERVER']}/logout/`)
          .then(r => r.text())
          .then(resp => {
            chrome.runtime.sendMessage({ method: 'refreshLoggedInStatus' }, _ => {
              console.log('LOGIN')
              window.location.hash = '#/login'
            })
          })
      },
      saveOptions () {
        setTimeout(_ => {
          const storageObject = {
            showforall: this.showForAll,
            showontwitter: this.showOnTwitter
          }
          chrome.storage.local.set(storageObject)
        }, 300)
      }
    }
  }
</script>
<style lang="scss">
    #curate_button_id {
      margin-left: 17px !important;
      text-decoration: none !important;
      color: #fff !important;
      text-align: center !important;
      position: inherit !important;
      z-index: 9999999999999 !important;
      bottom: 30px !important;
      font-size: 17px !important;
      width: 180px !important;
      font-family: Poppins !important;
      height: 180px !important;
      border: solid 1px #555 !important;
      background-color: black !important;
      animation-duration: 0.5s !important;
      box-shadow: 10px -10px rgba(0,0,0,0.6) !important;
      -moz-box-shadow: 10px -10px rgba(0,0,0,0.6) !important;
      -webkit-box-shadow: 5px 5px 10px #D3D3D3 !important;
      -o-box-shadow: 10px -10px rgba(0,0,0,0.6) !important;
      border-radius: 100px !important;
      margin-top: 14px;
    }
    #curate_button_id > .first {
    margin-top: 42px !important;
    font-size: 24px !important;
    height: 28px !important;
    line-height: 30px !important;
    font-weight: 700;
  }
  #curate_button_id > .second {
    margin-top: 0px !important;
    font-size: 24px !important;
    height: 28px !important;
    line-height: 30px !important;
    font-weight: 700;
  }
  #curate_button_id > .third {
    word-wrap: break-word !important;
    margin-top: 0px !important;
    font-size: 19px !important;
    height: 14px !important;
    line-height: 14px !important;
    padding-top:8px;
  }
  input[type="checkbox"]:disabled {
    background: red;
  }
</style>