#notification.ext_conversation_twitter {
    z-index: 999999999;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 4px 2px 2px 15px;
    height: 25px;
    width: 275px;
    background: #bfbff1;
    opacity: .75;
    border-radius: 15px 0px 0px 0px;
    /* position:fixed;
    bottom:0px;
    right: 0px;
    width:30rem;
    height:2.5rem;
    z-index:99999999;
    text-align:center;
    font-weight:normal;
    font-size:14px;
    font-weight:bold;
    color:white;
    background-color:#FF7800;
    padding:5px; */
}
#notification .close-notif {
    /* border-radius: 50%;
    border:2px solid #F00; */
    margin-right:15px;
    margin-bottom:8px;
    /* width: 10px;
    height: 10px; */ 
    /* padding:0 10px; */
    cursor:pointer;
    float:right;
}
#notification .expand {
    border-radius: 50%;
    border:2px solid #00FF00;
    margin-right:5px;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    cursor:pointer;
    float:right;
}
#notification .request-remove{
    float: right;
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 5px;
}
#notification .request-status {
    margin-left:20px;
    float: right;
    padding-right: 5px;
}
#text-notification, #result-notification{
    cursor: pointer;
    color: black;
    opacity: 1;
    font-family: proxima-nova;
    font-weight: 400;
    padding-left: 5px;
    /* margin: 0px -16px 10px -10px !important; */
    font-size: 12px;
}

.request-elem{
    cursor: pointer;
    color: black;
    opacity: 1;
    font-family: proxima-nova;
    font-weight: 400;
    font-size: 12px;
}
#loader {
    min-width: 131px;
    /* margin: 0 auto; */
    text-align: center;
    transition: all 1s;
    transition-delay: 0.1s;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}
#loader .swirl-big {
    width: 34px;
    height: 34px;
    /* margin: 0 auto; */
    background-size: 34px 34px;
    background-position: center;
}