body {
    width: 255px;
    padding: 20px;
}
html, body {
    /* height: 100%; */
    color: black;
}
h3 {
    font-family: 'poppins';
    font-weight: 100;
}
h2 {
    font-family: 'poppins';
    font-weight: 800;
    font-size: 32px;
    color: black;
    text-shadow: 1px 1px 15px #e6e6e6;
}

h5 {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 22px;
    color: #000;
    text-shadow: 1px 1px 15px #e6e6e6;
}

a {
    color: #AF8371;
}

.btn {
    background-color: #222222;
    color: #D5E0D6;
}

input[type=checkbox].css-checkbox {
    display: none;
}

input[type=checkbox].css-checkbox + div.css-checkbox-group > label.css-label {
    padding-left: 22px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 5px;
    font-weight: normal;
}

input[type=checkbox].css-checkbox:checked + div.css-checkbox-group > label.css-label {
    background-position: 0 -16px;
    font-weight: normal;
}

.lite-x-gray {
    background-image: url(checkbox2.png);
}
